[submodule "entities"]
	path = entities
	url = git@github.com:cricd/entities
[submodule "api/processors/batsman-innings-processor"]
	path = api/processors/batsman-innings-processor
	url = https://github.com/cricd/batsman-innings-processor.git
[submodule "api/processors/bowler-match-processor"]
	path = api/processors/bowler-match-processor
	url = https://github.com/cricd/bowler-match-processor.git
[submodule "api/processors/change-publisher"]
	path = api/processors/change-publisher
	url = https://github.com/cricd/change-publisher
[submodule "api/processors/score-processor"]
	path = api/processors/score-processor
	url = https://github.com/cricd/score-processor
